html{
    scroll-behavior: smooth;
}

body{
  background-color: #ddd;
  font-size: 18px;
  margin: 0;
  padding: 0;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav ul{
  list-style-type: none;
}

nav li{
  float: left;
  padding-right: 20px;
}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none;
}

nav a:hover{
  text-decoration: underline;
}

.skip a{
  background: white;
  left: 0;
  padding: 6px;
  position: absolute;
  top: -40px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

.skip a:focus{
    top:0;
 }

:focus {
  border-style: solid;
  border-width: 2px;
  border-color: black;
}


footer{
  background-color: black;
  color: white;
  grid-column: 1 / -1;  /*Can you explain what this does?*/
  grid-row: 7 / auto;   /*Can you rewrite it?*/
  padding-top: 30px;
  text-align: center;
}


.container{
  display: grid;
  grid-template-columns: 100px 500px 100px;
  grid-row-gap: 15px;
  grid-template-rows: 30px auto auto auto auto auto 100px; 
  width: 100vw; 
}

.nav{
  grid-column: 1 / -1;
  grid-row: 1; 
  background-color: #ddd;
  padding: 20px 0; 
  text-align: left; 
}

header{
  background-attachment: fixed; /* Parallax effect */
  background-image: url("../images/header.jpg");      /* Your code here - Link to header.jpg in the images folder */
  background-position: center;  /* Parallax effect */
  background-repeat: no-repeat; /* Parallax effect */
  background-size: cover;       /* Parallax effect */
  color: white;
  height: 400px;                /* Parallax effect */

  grid-column: 1 / -1;
  grid-row: 2; 
}

header p{
  color: white;
  font-size: 24px;
  padding: 0 100px;
  text-align: center;
}

.about-image{
  grid-column: 1 / -1;
  grid-row: 3;
  max-height: 700px;
  overflow: hidden;
}

.about{
  grid-column: 2;
  grid-row: 3; 
}

.method-image{
  grid-column: 1 / -1;
  grid-row: 4;
  max-height: 700px;
  overflow: hidden;
}

.method{
  grid-column: 2;
  grid-row: 4; 
}

.clients-image{
  grid-column: 1 / -1;
  grid-row: 5;
  max-height: 700px;
  overflow: hidden;
}

.clients{
  grid-column: 2;
  grid-row: 5; 
}

.contact-image{
  grid-column: 1 / -1;
  grid-row: 6;
  max-height: 700px;
  overflow: hidden;
}

.contact{
  grid-column: 2;
  grid-row: 6; 
}

.text-block{
  margin: auto;
  padding: 30px;
  background-color: rgba(255, 255, 255, .8);
  border: 10px solid black;
  padding: 30px;
}



@media screen and (min-width: 800px){

  .container{
	display: grid;
    grid-template-columns: 50px auto 500px auto 50px;
    grid-template-rows: 70px 400px 400px 400px 400px 400px 100px;*/
  }

  .nav{
    background-color: #ddd;

	margin-left: auto;
	padding: 35px 0; 
	grid-column: 1 / -1;
    grid-row: 1; 
	
  }

  .about-image{
     grid-column: 2 / span 2;
     grid-row: 3;
     max-height: 700px;
     overflow: hidden;
    }

  .about{
    grid-column: 3 / span 2;
    grid-row: 3; 
  }

  .method-image{
     grid-column: 3 / span 2;
     grid-row: 4;
     max-height: 700px;
     overflow: hidden;
  }

  .method{
    grid-column: 2 / span 2;
    grid-row: 4; 
  }

  .clients-image{
     grid-column: 2 / span 2;
     grid-row: 5;
     max-height: 700px;
     overflow: hidden;

  }

  .clients{
    grid-column: 3 / span 2;
    grid-row: 5;
  }

  .contact-image{
     grid-column: 3 / span 2;
     grid-row: 6;
     max-height: 700px;
     overflow: hidden;
  }

  .contact{
    grid-column: 2 / span 2;
    grid-row: 6;
   }

}  /*End the media query*/

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 0s;/* Your code here - set to default setting */
    transition: top 0s;/* Your code here - set to default setting */
    z-index: 1;
  }

  .skip a:focus{
    top:0;
  }
}
